<h1 class="h3"><%= @classroom.title %></h1>
<p class="text-muted"><%= @classroom.description %></p>

<p><strong>Curso:</strong> <%= @classroom.course.title %></p>
<p><strong>Professor:</strong> <%= @classroom.teacher.name %></p>

<h4>Alunos</h4>
<ul>
  <% @classroom.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
</ul>

<%= link_to "Voltar", classrooms_path, class: "btn btn-outline-secondary" %>
<% if current_user.admin? %>
  <%= link_to "Editar", edit_classroom_path(@classroom), class: "btn btn-primary" %>
<% end %>
