<%= form_with(model: course, class: "needs-validation") do |f| %>
  <% if course.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(course.errors.count, "erro") %> impediram salvar:</strong>
      <ul class="mb-0">
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :title, "Título", class: "form-label" %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :description, "Descrição", class: "form-label" %>
    <%= f.text_area :description, rows: 5, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-end gap-2">
    <%= link_to "Estrutura", course_nodes_path(@course), class: "btn btn-primary" %>
  </div>

  <div class="d-flex justify-content-end gap-2">
    <%= link_to "Cancelar", courses_path, class: "btn btn-outline-secondary" %>
    <%= f.submit course.persisted? ? "Salvar" : "Criar curso", class: "btn btn-primary" %>
  </div>
<% end %>
